/*body, html, #app{
	min-height: 900px!important;
}*/
.navbar{
	background-color: #007300;

}
.navbar ul li .nav-link{
	color: #fff!important;
}
.navbar-brand{
	color: #fff!important;
}
.navbar-fixed-bottom{
	padding: 20px;
	color: #fff;
}

.btn-primary{
	background-color: #007300;
	border: none;
}
.btn-primary:hover{
	background-color: #007300;
	border: none;
}


label{
	color:#007300;
}
.form-control{
	border: 1px solid #007300;
}

.dropdown .dropdown-item{
	color: #007300!important;
}
.home-stuff{
	font-size: 18px;
}
.card{
	border:1px solid #66AB66;
}

.card-header{
	background-color: #66AB66;
	color: #fff;
	font-size: 18px;
}